<!--The content below is only a placeholder and can be replaced.-->

    <div class="row">
        <div class="col">
            <app-header></app-header>
        </div>
    </div>

    <div class="row mt-5 mb-5">
      <div class="col-md-12 mx-auto my-3 pb-5"> 
            <router-outlet></router-outlet>
        </div>
    </div>
          
    <div  id="footer" class="py-4 bg-dark text-white-50">
                <div class="container text-center">
                  <small>Copyright &copy; </small>
                </div>
     </div>
  
   

