<nav class="navbar navbar-expand-md navbar-light nav-justified" style="background-color: #E6E6FA">
  <div id="img">
    <img src="assets/img/imss.png">
  </div>&nbsp;&nbsp;&nbsp;&nbsp;
  <h2>Control HAS</h2>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav pull-xs-right "id="menu">
      <li class="nav-item" routerLinkActive="active">
        <button type="button" class="btn btn-outline-light " routerLink="/Inicio">Inicio</button>
      </li>
      <li class="nav-item" routerLinkActive="active">
          <button type="button" class="btn btn-outline-light"  routerLink="/pacientes">Pacientes</button>
        </li>
      <li class="nav-item" routerLinkActive="active">
        <button type="button" class="btn btn-outline-light"   routerLink="/pacientes">Reportes</button>
      </li>
       
      <li class="navbar-nav " routerLinkActive="active">
        <button type="button"  class="btn btn-outline-light"  routerLink="/login">Salir</button>
      </li>
  
    </ul>
    
  </div>
</nav>